/*Element*/
li {

}
/*class*/
.hello {

}
/*id*/
#name {

}

/*Star*/

th {
	border: 1px solid black;
}

td {
	border: 1px solid black;
}

p {
	font-family: Arial;
}

h1 {
	font-family: Georgia;
}

li {
	font-family: Arial;
}

h1 {
	color: #FFFFFF;
}

h3 {
	color: #FFFFFF;
}

h2 {
	color: #FFFFFF;
}