th {
	border: 1px solid black;
}

td {
	border: 1px solid black;
}

p {
	font-family: Arial;
}

h1 {
	font-family: Georgia;
}

li {
	font-family: Arial;
}

h1 {
	color: #FFFFFF;
}

h2 {
	color: #FFFFFF;
}

h1 {text-align: center:}

h2 {margin: 0;}

h3 {
	color: #FFFFFF;
}

